<!-- Div contendo todos os elementos -->
<div class="tudo">
 <!-- Cabecalho -->
  <div id="cabecalho">
    <!-- Dentro do cabecalho -->
    <h1>ETEC Horacio Augusto da Silveira</h1>
  </div>
  <!-- Corpo -->
  <div id="corpo">
    <!-- Dentro do corpo -->
    <div id="cabecalhoCorpo"><h2 id="h2">Curso Desenvolvimento de Sistemas</h2></div>
   
      <div id="caixaDireita">
        <!--Foto-->
        <div class="foto"><img src="assets/images/Davi.png"></div>
        <!---->
        <div class="rodapeCaixa">
          <!--Link GitHub-->
          <a href="https://github.com/Davi-Damasio" id="btn-git" class="btn btn-primary"><i class="bi bi-github">GitHub</i></a>
          <!--Link Linkedin-->
          <a href="https://www.linkedin.com/" id="btn-linkedin" class="btn btn-primary"><i class="bi bi-linkedin">Linkedin</i></a>
          <div id="dropdownBoxesquerdo" class="dropdown"><span><i class="bi bi-info-circle">Sobre</i></span>
          <div id="dropdownApresentacao">
                   
              <p><b>Hobbies:</b>Tocar Teclado, Programação, VideoGames.  <br>
               <b>Objetivo Profissional:</b> Entrar na área de desenvolvimento como programador back-end.

          </p></div>
          </div>
        </div>
      </div>

      <div id="caixaEsquerda">
        <div class="foto"><img src="assets/images/Ana.png"></div>
        <div class="rodapeCaixa">
          <a href="https://github.com/acrrf" id="btn-git" class="btn btn-primary"><i class="bi bi-github">GitHub</i></a>
          <a href="https://www.linkedin.com/ana-rescia-royo-felippe-9b7785173/" id="btn-linkedin" class="btn btn-primary"><i class="bi bi-linkedin">Linkedin</i></a>
          <div id="dropdownBoxesquerdo" class="dropdown"><span><i class="bi bi-info-circle">Sobre</i></span>
          <div id="dropdownApresentacao">
            <p><b>Hobbies:</b>Tocar Teclado, Programação, VideoGames.  <br>
               <b>Objetivo Profissional:</b> Entrar na área de desenvolvimento como programador back-end.
          </p></div>
          </div>
        </div>
      </div>

</div>
  <!-- Rodape -->
  <div id="rodape">
    <!-- Dentro do Rodape -->
 <p id="nome">Site desenvolvido por Davi e Ana</p>
    
  </div>
</div>
<router-outlet></router-outlet>
